includes:
    - ./vendor/phpstan/phpstan/conf/bleedingEdge.neon
parameters:
    paths:
        - app
        - bootstrap
        - config
    level: max
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    universalObjectCratesClasses:
        - DeliciousBrains\SpinupWp\Resources\Resource
        - DeliciousBrains\SpinupWp\Endpoints\Endpoint
    excludes_analyse:
        - vendor/*
        - tests/*
