name: Pest

on: ['push']

jobs:
  pest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: php-actions/composer@v6
        with:
          php_version: "8.0"
      - uses: NWBY/pest-action@v1.2.0
